.App11 {
 background-image: linear-gradient( red, yellow, orange);
 /* line-height: 100px; */
 height: 1000px;
}

.Navbar{
  display: flex;
  flex-direction: row;
 background-color: rgb(131, 255, 127);
  
  /* margin: 25px; */
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
  justify-content: space-evenly;
  font-family: 'Lobster', cursive;
}
.heading{
  font-family: 'Lobster', cursive;
  margin-left: 95px;
  font-size: 40px;
}
.active-class{
  color:chocolate;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
 
}
.not-active{
  /* margin: 20px;
  padding: 20px; */
  text-decoration: none;
}

.button{
  background-color: aqua;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  /* float: right; */
  /* margin-bottom: 125px; */
  font-size: 20px;
  font-weight: bold;
  margin-left:850px ;
}

.table{
  width: 1300px;
  background-color: white;
  text-align: center;
  height: 500px;
}
.main-table{
  display: flex;
  justify-content: center;
  align-items: center;
}